body {
  width: 70%;
  margin: 30px auto;
}

.main-container {
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  width: 2000px;
  margin: 0 auto;
}

.container div {
  float: left;
  width: 400px;
}

.container img {
  width: 100%;
}
